block accordion
	.accordion#accordion
		.accordion__item
			.accordion__header.collapsed#headingOne(data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne")
				h5.accordion__title
					button.btn.btn-link Побалуйте себя витаминным меню
						include ../mixins/icon.pug
						+icon('down-arrow', '')

			.accordion__text-wrap#collapseOne.collapse(aria-labelledby="headingOne")
				.accordion__text Мы закупаем товар напрямую у рыбных заводов России. Все поставки сертифицированы. Соответствующие документы вы получите по первому требованию. Морепродукты на наших складах хранятся в специально оборудованных камерах, работающих бесперебойно. А во время адресной доставки товара мы используем холодильники. Ими оборудована каждая машина. То есть риск порчи продукции сведен к нулю. И вы получаете качественные натуральные продукты, сохранившие все свои полезные свойства.
		.accordion__item
			.accordion__header.collapsed#headingTwo(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo")
				h5.accordion__title
					button.btn.btn-link Побалуйте себя
						include ../mixins/icon.pug
						+icon('down-arrow', '')
						

			.accordion__text-wrap#collapseTwo.collapse(aria-labelledby="headingTwo")
				.accordion__text Мы закупаем товар напрямую у рыбных заводов России. Все поставки сертифицированы. Соответствующие документы вы получите по первому требованию. Морепродукты на наших складах хранятся в специально оборудованных камерах, работающих бесперебойно. А во время адресной доставки товара мы используем холодильники. Ими оборудована каждая машина. То есть риск порчи продукции сведен к нулю. И вы получаете качественные натуральные продукты, сохранившие все свои полезные свойства. Мы закупаем товар напрямую у рыбных заводов России. Все поставки сертифицированы. Соответствующие документы вы получите по первому требованию. Морепродукты на наших складах хранятся в специально оборудованных камерах, работающих бесперебойно. А во время адресной доставки товара мы используем холодильники. Ими оборудована каждая машина. То есть риск порчи продукции сведен к нулю. И вы получаете качественные натуральные продукты, сохранившие все свои полезные свойства.
					