.advantages.wrapp-inner
	ul.advantages__list
		li.advantages__item
			.advantages__cont
				svg.advantages__img
					use(xlink:href="images/svg/icon.svg#icon5")
				p.advantages__text Все продукты тщательно отбираются у проверенных поставщиков ФУДСИТИ
			.advantages__separator
				span
		li.advantages__item
			.advantages__cont
				svg.advantages__img
					use(xlink:href="images/svg/icon.svg#icon2")
				p.advantages__text После закупки товары проходят проверку качества у специалистов
			.advantages__separator
				span
		li.advantages__item
			.advantages__cont
				svg.advantages__img
					use(xlink:href="images/svg/icon.svg#icon1")
				p.advantages__text Все заказы мы перевозим в машинах, оборудованных холодильными камерами
			.advantages__separator
				span
		li.advantages__item
			.advantages__cont
				svg.advantages__img
					use(xlink:href="images/svg/icon.svg#icon4")
				p.advantages__text Вы можете оплатить заказ банковской картой, онлайн или наличными
			.advantages__separator
				span


//- OLD advantages__list
//- .advantages.old
	//- ul.advantages__list
	//- 	li.advantages__item
	//- 		svg.advantages__img
	//- 			use(xlink:href="images/svg/icon.svg#icon1")
	//- 		p.advantages__text Выгодные условия доставки по Москве и МО
	//- 	li.advantages__item
	//- 		svg.advantages__img
	//- 			use(xlink:href="images/svg/icon.svg#icon2")
	//- 		p.advantages__text Гарантия качества
	//- 	li.advantages__item
	//- 		svg.advantages__img
	//- 			use(xlink:href="images/svg/icon.svg#icon1")
	//- 		p.advantages__text Широкий ассортимент
	//- 	li.advantages__item
	//- 		svg.advantages__img
	//- 			use(xlink:href="images/svg/icon.svg#icon4")
	//- 		p.advantages__text Доступные цены
	//- 	li.advantages__item
	//- 		svg.advantages__img
	//- 			use(xlink:href="images/svg/icon.svg#icon5")
	//- 		p.advantages__text Удобная оплата
	//- 	li.advantages__item
	//- 		svg.advantages__img
	//- 			use(xlink:href="images/svg/icon.svg#icon6")
	//- 		p.advantages__text Вопрос-ответ
	//- 	li.advantages__item
	//- 		svg.advantages__img
	//- 			use(xlink:href="images/svg/icon.svg#icon7")
	//- 		p.advantages__text Фрукты в офис
	//- 	li.advantages__item
	//- 		svg.advantages__img
	//- 			use(xlink:href="images/svg/icon.svg#icon8")
	//- 		p.advantages__text Мелкий опт и Horeca