block banner
.banner.banner__home.container
	a(href="" style="background-color: #5cadbd;").banner__mini.banner__mini-top.banner__fon-dark
		.banner__mini-img
			img(src="images/banner_mini_1.png")
		.banner__mini-content
			.banner__mini-textblock
				.banner__mini-title Черешня красная спелая сочная хорошая
				.banner__mini-price 99 р. /кг
			.banner__mini-btn.btn.btn-white Купить&nbsp;&nbsp;
				span >

	a(href="").banner__big.banner__fon-dark.banner__position-left
		ul.banner__big-list
			li
				.banner__big-block(style="background-image: url('images/ban1.jpg')")
					.banner__big-content
						.banner__big-wrap
							.banner__big-title Сезон винограда открыт.
								br
								| Вперед за покупками!
							//- .banner__big-text Молоко, сыры, кефир и творог
							//- 	br
							//- 	| от 20 руб. /уп.
							.banner__big-label -30%
							.btn.btn-white.btn-lg.banner__big-btn Купить&nbsp;&nbsp;
								span >
					.banner__big-points
						span.banner__big-point
						span.banner__big-point
						span.banner__big-point
						span.banner__big-point

	a(href="" style="background-color: #eae7e8;").banner__mini.banner__mini-bot.banner__fon-light
		.banner__mini-img
			img(src="images/banner_mini_2.png")
		.banner__mini-content
			.banner__mini-textblock
				.banner__mini-title Купите орехи  или сухофрукты 600 г — получи скидку 20%
				.banner__mini-price 
			.banner__mini-btn.btn.btn-white Выбрать&nbsp;&nbsp;
				span >