-
	var href = 'javascript:void(0);',
		catalog__lists = [
			{
				title: 'Овощи, зелень',
				titleNumber: '139',
				src: 'images/svg/svg/symbols.svg#veg',
				items: ['Огурцы', 'Помидоры', 'Перец', 'Картофель', 'Морковь и свекла', 'Лук и чеснок', 'Капуста', 'Кабачки, баклажаны, тыквы', 'Редис, дайкон, репа, имбирь', 'Спаржа, фенхель, артишок', 'Кукуруза, бобовые', 'Свежие салаты', 'Свежая зелень', 'Грибы'],
				itemNumbers: ['6', '17', '10', '7', '6', '7', '6', '6', '6', '3', '6', '12', '21', '3', '15', '2', '6'],
				id: 'vegetables'
			},
			{
				title: 'Сезон гриль',
				titleNumber: '156',
				src: 'images/svg/tag.svg#class',
				items: ['Шашлыки и колбаски ', 'Мясо для гриля', 'Рыба для гриля', 'Овощи для гриля и закусок', 'Сервировка стола', 'Решетки, уголь, розжиг', 'Защита от насекомых', 'Хлеб, соусы, напитки'],
				itemNumbers: ['10', '13', '11', '21', '17', '26', '10', '51'],
				id: 'grill'
			},
			{
				title: 'Овощи, зелень',
				titleNumber: '139',
				src: 'images/svg/tag.svg#class',
				items: ['Огурцы', 'Помидоры', 'Перец', 'Картофель', 'Морковь и свекла', 'Лук и чеснок', 'Капуста', 'Кабачки, баклажаны, тыквы', 'Редис, дайкон, репа, имбирь', 'Спаржа, фенхель, артишок', 'Кукуруза, бобовые', 'Свежие салаты', 'Свежая зелень', 'Грибы'],
				itemNumbers: ['6', '17', '10', '7', '6', '7', '6', '6', '6', '3', '6', '12', '21', '3', '15', '2', '6'],
				id: 'fruits'
			},
			{
				title: 'Овощи, зелень',
				titleNumber: '139',
				src: 'images/svg/tag.svg#class',
				items: ['Огурцы', 'Помидоры', 'Перец', 'Картофель', 'Морковь и свекла', 'Лук и чеснок', 'Капуста', 'Кабачки, баклажаны, тыквы', 'Редис, дайкон, репа, имбирь', 'Спаржа, фенхель, артишок', 'Кукуруза, бобовые', 'Свежие салаты', 'Свежая зелень', 'Грибы'],
				itemNumbers: ['6', '17', '10', '7', '6', '7', '6', '6', '6', '3', '6', '12', '21', '3', '15', '2', '6'],
				id: 'sweets'
			},
			{
				title: 'Овощи, зелень',
				titleNumber: '139',
				src: 'images/svg/tag.svg#class',
				items: ['Огурцы', 'Помидоры', 'Перец', 'Картофель', 'Морковь и свекла', 'Лук и чеснок', 'Капуста', 'Кабачки, баклажаны, тыквы', 'Редис, дайкон, репа, имбирь', 'Спаржа, фенхель, артишок', 'Кукуруза, бобовые', 'Свежие салаты', 'Свежая зелень', 'Грибы'],
				itemNumbers: ['6', '17', '10', '7', '6', '7', '6', '6', '6', '3', '6', '12', '21', '3', '15', '2', '6'],
				id: 'meat'
			},
			{
				title: 'Овощи, зелень',
				titleNumber: '139',
				src: 'images/svg/tag.svg#class',
				items: ['Огурцы', 'Помидоры', 'Перец', 'Картофель', 'Морковь и свекла', 'Лук и чеснок', 'Капуста', 'Кабачки, баклажаны, тыквы', 'Редис, дайкон, репа, имбирь', 'Спаржа, фенхель, артишок', 'Кукуруза, бобовые', 'Свежие салаты', 'Свежая зелень', 'Грибы'],
				itemNumbers: ['6', '17', '10', '7', '6', '7', '6', '6', '6', '3', '6', '12', '21', '3', '15', '2', '6'],
				id: 'beauty'
			},
			{
				title: 'Овощи, зелень',
				titleNumber: '139',
				src: 'images/svg/tag.svg#class',
				items: ['Огурцы', 'Помидоры', 'Перец', 'Картофель', 'Морковь и свекла', 'Лук и чеснок', 'Капуста', 'Кабачки, баклажаны, тыквы', 'Редис, дайкон, репа, имбирь', 'Спаржа, фенхель, артишок', 'Кукуруза, бобовые', 'Свежие салаты', 'Свежая зелень', 'Грибы'],
				itemNumbers: ['6', '17', '10', '7', '6', '7', '6', '6', '6', '3', '6', '12', '21', '3', '15', '2', '6'],
				id: 'seafood'
			}

		]
	;

	var getTitleNumber = function (it) {
		var number = 0;

		for (var i = 0; i < it.itemNumbers.length; i++) {
			number = number + Number(it.itemNumbers[i]);
		}
		return '(' + number + ')';
	}



block catalog__list
	.catalog-lists
		each it in catalog__lists
			.catalog-list__wrap
				a.catalog-list__title(data-toggle="collapse" aria-expanded="false" href='#'+ '' + it.id + '' aria-controls='' + it.id + '' role= "button")
					//- svg.catalog-list__img(src=''+ it.src +'')
					//- 	use(xlink:href=''+ it.src +'')
					include ../mixins/icon.pug
					+icon(it.id, '')
					span= it.title + getTitleNumber(it)
				ul.catalog-list(id = '' + it.id + '')
					li.catalog-list__item
						- for (i = 0; i < it.items.length; i++) {
							li.catalog-list__item
								a(href="#")= it.items[i] + '(' + it.itemNumbers[i] + ')'
						- }









