block catalog__hit

.catalog__hit
	ul.catalog__hit-listcat
		li.catalog__hit-itemcat
			a(href="").btn.btn-outline-attention.catalog__hit-title Актуально сейчас
			ul.catalog__hit-list
				li
					a(href="").catalog__hit-link Тыква
				li
					a(href="").catalog__hit-link Патисоны
				li
					a(href="").catalog__hit-link Медовый спас
				li
					a(href="").catalog__hit-link Яблоки, груши
				li
					a(href="").catalog__hit-link Хурма

		li.catalog__hit-itemcat
			a(href="").btn.btn-outline-purple.catalog__hit-title Подарки на 8 марта
			ul.catalog__hit-list
				li
					a(href="").catalog__hit-link Букеты из продуктов
				li
					a(href="").catalog__hit-link Букеты из цветов
				li
					a(href="").catalog__hit-link Наборы орехов и сухофруктов
				li
					a(href="").catalog__hit-link Кондитерские изделия
				li
					a(href="").catalog__hit-link Гигиена и уход
				

		li.catalog__hit-itemcat
			a(href="").btn.btn-outline-success.catalog__hit-title Органик
			ul.catalog__hit-list
				li
					a(href="").catalog__hit-link Соевое, миндальное молоко
				li
					a(href="").catalog__hit-link Овощи, зелень
				li
					a(href="").catalog__hit-link Медовый спас
				li
					a(href="").catalog__hit-link Яблоки, груши
				li
					a(href="").catalog__hit-link Хурма

		li.catalog__hit-itemcat
			a(href="").btn.btn-outline-danger.catalog__hit-title Распродажа
			ul.catalog__hit-list
				li
					a(href="").catalog__hit-link Соевое, миндальное молоко
				li
					a(href="").catalog__hit-link Овощи, зелень
				li
					a(href="").catalog__hit-link Медовый спас
				li
					a(href="").catalog__hit-link Яблоки, груши
				li
					a(href="").catalog__hit-link Хурма
