block footer
	footer.footer
		.footer__content.container
			//- include menu-catalog
			include menu-dwarf
			include main-footer
	.footer__shopinfo
		.footer__content.container
			.footer__shopinfo-left
				.footer__shopinfo-logo
					a.custom-font-logo(href='/')
				.footer__shopinfo-slogan Онлайн-супермаркет Broccoli
			.footer__shopinfo-right
				.footer__shopinfo-sitename FRESHBROCCOLI.RU
				//- a.footer__maps(href='/') Карта сайта
				.footer__shopinfo-copyright 2017 © ООО «ФрешБрокколи»