block main-footer
	.main-footer
		.main-footer__padding
			//- .main-footer__title Для мобильных устройств
			.main-footer__app
				.main-footer__google
					.main-footer__app-img
						img(src="images/android-app-on-google-play-svg.png")
					a(href='').main-footer__app-link Скачать приложение для Android
				.main-footer__ios
					.main-footer__app-img
						img(src="images/app-store-logo.png")
					a(href='').main-footer__app-link Скачать приложение для IOS
