block messeng__block

.messeng__block
	ul.messeng__block-column
		li
			svg(width="49px" height="49px").messeng__block-img
				use(xlink:href="images/svg/icon.svg#mess1")
			.messeng__block-title Подписывайтесь на новости и акции
			form.messeng__block-form
				input(placeholder="Оставьте свой E-mail ")
				button(type="buttom").btn.btn-success.btn-lg Подписаться

		li
			svg(width="48px" height="48px").messeng__block-img
				use(xlink:href="images/svg/icon.svg#mess2")
			.messeng__block-title Ответим на ваши вопросы
			.messeng__block-form
				span.messeng__block-tel &ensp;&nbsp;+7&nbsp;495&nbsp;108-&nbsp;07-&nbsp;98
				a(href="#phone").btn.btn-success.btn-lg Заказать звонок

		li
			svg(width="48px" height="48px").messeng__block-img
				use(xlink:href="images/svg/icon.svg#mess3")
			.messeng__block-title Broccoli в социальных сетях
			.messeng__block-social
				a.messeng__block-link(href="#")
					svg(width="30px" height="30px")
						use(xlink:href="images/svg/svg/symbols.svg#FB")
				a.messeng__block-link(href="#")
					svg(width="30px" height="30px")
						use(xlink:href="images/svg/svg/symbols.svg#INST")
				a.messeng__block-link(href="#")
					svg(width="30px" height="30px")
						use(xlink:href="images/svg/svg/symbols.svg#VK")
				a.messeng__block-link(href="#")
					svg(width="30px" height="30px")
						use(xlink:href="images/svg/svg/symbols.svg#G")
				a.messeng__block-link(href="#")
					svg(width="30px" height="30px")
						use(xlink:href="images/svg/svg/symbols.svg#O")
