-
	var href = 'javascript:void(0);',
		review  = [
			{
				name: 'Екатерина',
				date: '14.07.17',
				siti: 'Москва',
				comment: 'Первый раз решила заказать овощи в интернете (устала таскать картошку пакетиками каждый день) была боязнь что привезут в каком то не хорошем виде (как это часто бывает на рынках и тем более супермаркетах) Решились и не зря! Я в восторге!!! Все овощи как на подбор, еще и в подарок дыню дали =)) произошла небольшая ошибка с весом, решили ее в момент. Все овощи как на подбор, еще и в подарок дыню дали =)) произошла небольшая ошибка с весом, решили ее в момент.'
			},
			{
				name: 'Ольга',
				date: '14.07.17',
				siti: 'Москва',
				comment: 'Второй раз решила заказать овощи в интернете (устала таскать картошку пакетиками каждый день) была боязнь что привезут в каком то не хорошем виде (как это часто бывает на рынках и тем более супермаркетах) Решились и не зря!.'
			},
			{
				name: 'Ольга',
				date: '14.07.17',
				siti: 'Москва',
				comment: 'Второй раз решила заказать овощи в интернете (устала таскать картошку пакетиками каждый день) была боязнь что привезут в каком то не хорошем виде (как это часто бывает на рынках и тем более супермаркетах) Решились и не зря!.'
			},
			{
				name: 'Ольга',
				date: '14.07.17',
				siti: 'Москва',
				comment: 'Второй раз решила заказать овощи в интернете (устала таскать картошку пакетиками каждый день) была боязнь что привезут в каком то не хорошем виде (как это часто бывает на рынках и тем более супермаркетах) Решились и не зря!.'
			},
			{
				name: 'Таня',
				date: '14.07.17',
				siti: 'Москва',
				comment: 'Второй раз решила заказать овощи в интернете (устала таскать картошку пакетиками каждый день) была боязнь что привезут в каком то не хорошем виде (как это часто бывает на рынках и тем более супермаркетах) Решились и не зря!.'
			},
			{
				name: 'Петя',
				date: '14.07.17',
				siti: 'Москва',
				comment: 'Второй раз решила заказать овощи в интернете (устала таскать картошку пакетиками каждый день) была боязнь что привезут в каком то не хорошем виде (как это часто бывает на рынках и тем более супермаркетах) Решились и не зря!.'
			}
		]
	;

.review
	ul.review__list
		li.review__item.review__item--info
			.review__info
				.review__title Нам важно ваше мнение!
				.review__data Расскажите о вашем заказе
				p.review__text Чтобы мы стали лучше, нам важно знать понравился ли вам наш сервис и чтобы вы хотели бы улучшить в нем. Мы внимательно относимся к просьбам и жалобам клиентов, поэтому если вам есть что сказать — смело пишите нам!
			.review__btn-wrap
				a.btn.btn-success.review__btn(href='') Оставить отзыв
				a.btn.btn-outline-success.review__btn(href='') Читать все отзывы
		ul.review__block-list
			each re in review
				li.review__item.review__item--feedback
					.review__wrapp
						.review__name= re.name
						.review__data= re.date + '|' + re.siti
						include stars
						p.review__text= re.comment.slice(0, 310) + (re.comment.length > 310 ? '...' : '')
						a.review__link(href='') Перейти к отзыву&nbsp;&nbsp;&rsaquo;



