block rewiew__list

ul.rewiew__list
	li.rewiew__list-item
		.rewiew__list-star
			span.rewiew__list-starname &laquo;Хорошо&raquo;
			include stars
		span.rewiew__list-date 15.06.17
		span.rewiew__list-name Екатерина
			span.rewiew__list-date 15.06.17
		p.rewiew__list-text Комплект Mosquitall "Профессиональная защита. Для дома и дачи" состоит из инновационного электрофумигатора и двухкомпонентной жидкости моментального действия, рассчитанной на 30 ночей защиты от комаров...
	li.rewiew__list-item
		.rewiew__list-star
			span.rewiew__list-starname &laquo;Отлично&raquo;
			include stars
		span.rewiew__list-date 15.06.17
		span.rewiew__list-name Екатерина
			span.rewiew__list-date 15.06.17
		p.rewiew__list-text Комплект Mosquitall "Профессиональная защита. Для дома и дачи" состоит из инновационного электрофумигатора и двухкомпонентной жидкости моментального действия, рассчитанной на 30 ночей защиты от комаров. состоит из инновационного электрофумигатора и двухкомпонентной жидкости моментального действия, рассчитанной на 30 ночей защиты от комаров...
	li.rewiew__list-item
		.rewiew__list-star
			span.rewiew__list-starname &laquo;Хорошо&raquo;
			include stars
		span.rewiew__list-date 15.06.17
		span.rewiew__list-name Екатерина
			span.rewiew__list-date 15.06.17
		p.rewiew__list-text Комплект Mosquitall "Профессиональная защита. Для дома и дачи" состоит из инновационного электрофумигатора и двухкомпонентной жидкости моментального действия, рассчитанной на 30 ночей защиты от комаров...
		.rewiew__list-admin
			span.rewiew__list-name 18.06.17 Ответ администратор | Менеджер Broccoli
			p.rewiew__list-text Спасибо за отзыв! Мы добавим дополнительное описание товара на нашем сайте.