block tags__type

li.tags__type
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="home") Домашнее содержание
li.tags__type
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="food") Расстройства
li.tags__type
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="ves") Избыточный вес
li.tags__type
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="all") Склонность
li.tags__type
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="poshka") Заболевания почек
li.tags__type
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="biuty") Для красоты шерсти
li.tags__type
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="home") Домашнее содержание 