block tags__label

li.tags__label
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="new") Новинки
li.tags__label
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="hit") Хит продаж
li.tags__label
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="super") Суперцена
li.tags__label
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="new") Новинки
li.tags__label
	a.btn.btn-sm.btn-outline-secondary(href="#" data-tag="hit") Хит продаж