block tags__action
	ul.tags__action
		li.tags__action-item
			a(href="#" data-tag="super") Суперцена
		li.tags__action-item
			a(href="#" data-tag="loyal" data-toggle="tooltip" data-placement="right" title="Подсказка подсказка подсказка о программе лояльности") + 50 баллов ?
			span.item__cart-labelinfo 
				a(href="") Как получить больше баллов