block tags__sort

li.tags__sort
	button.btn.btn-sm.checked По наименованию&nbsp;&nbsp;
		span.arrow &darr;
li.tags__sort
	button.btn.btn-sm По цене&nbsp;&nbsp;&nbsp;
		span.arrow &darr;
li.tags__sort
	button.btn.btn-sm По популярности&nbsp;&nbsp;&nbsp;
		span.arrow &darr;