include ../blocks/page

	.catalog__page

		include ../blocks/breadcrumbs
		include ../blocks/page__title

		.content
			include ../blocks/specials
			include ../blocks/catalog__list

include ../blocks/footer