- var suffixCompressed = mode === prod ? '.min' : ''

doctype html
html(lang='ru')
	include ../blocks/head
	body(contextmenu='menu')
		#freshbroccoli
			include ../blocks/header
			include ../blocks/home
			include ../blocks/footer